<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>delete Inventory</title>
</head>
<body>
    <h2>Delete Inventory </h2>

    <!-- Form to update in_qty based on item_code -->
    <form action="/delete" method="POST">

        <label for="item_code">Item Code:</label>
        <input type="text" id="item_code" name="item_code" required>
        <br><br>

        <input type="submit" value="Delete">
    </form>

    <!-- Display message if provided -->
 <!-- Display message if provided -->
    {% if message %}
    <p id="flash-message">{{ message }}</p>
    {% endif %}

</body>
</html>



<script>
    // Clear the message after 5 seconds
    setTimeout(function() {
        var flashMessage = document.getElementById('flash-message');
        if (flashMessage) {
            flashMessage.style.display = 'none';
        }
    }, 5000); // 5000 milliseconds = 5 seconds

    
</script>